*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
    background: #2e2b2b;
}
#id {
    background: lime;
    color:#fff;
width: 100px;
height: 50px;
border-radius: 15px;
border:none;
}
form {
    display: flex;
    height: 500px;
    color:#fff;
    justify-content: center;
    align-items: center;
}
form div {
    display: flex;
} 