<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo</title>
<script src="../package/todo.js" defer></script>
</head>
<body>
    <div id="remove">
        <div id="div"></div>
        <form action="" id="form">
            <div class="">
                <label for="name">todo</label>
                <input type="text" name="name" id="name" required>
            </div>
            <button type="submit">add</button>
        </form>
        <div class="taskes"></div>
    </div>
</body>
</html>